@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>welcome</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
      <h3>Hello All Welcome to Cloud 9  </h3>
    </div>
</div>